@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.navbar {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.container {
    display: flex;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background: #5554a2;
    color: white;
    transition: all .5s ease;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    z-index: 999;
}

.content-container {
    flex-grow: 1;
    margin-left: 0;
}

.content {
    padding: 20px;
}

.content-header {
    font-size: 22px;
    color: white;
    background: #353535;
    line-height: 70px;
    text-align: center;
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    margin: 0;
}

.sidebar ul a {
    display: block;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul a:hover {
    background: rgba(255, 255, 255, 0.1);
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    background: #5554a2;
    cursor: pointer;
}

label #btn {
    left: 40px;
    top: 15px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
    z-index: 1001;
}

label #cancel {
    z-index: 1001;
    left: 195px;
    top: 17px;
    font-size: 30px;
    color: #ffffff;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:not(:checked) ~ label #cancel {
    left: -50px; /* Move it off-screen or adjust as needed */
}
#check:checked ~ label #cancel {
    left: 195px;
    position: fixed;
}


#check:checked ~ .content-container {
    margin-left: 250px;
}

#check:checked ~ .navbar,
#check:checked ~ footer {
    margin-left: 250px;
}

.section {
    background: url(bg.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 75vh;
    transition: all .5s;
}
@media (max-width: 767px) {
    #check:checked ~ .navbar .navbar-toggler-icon {
        margin-left: 0; /* Adjust the margin as needed for smaller screens */
    }

    #check:checked ~ .navbar .btn {
        margin-left: 0; /* Adjust the margin as needed for smaller screens */
    }
}